*{
    text-align: center;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(189, 231, 244);
}

h1 h2{
   color: darkblue; 
   font-family: fantasy;
}

.date{
    color: blue;
}

.produits{
    border: solid 1em rgb(255, 255, 255) ;
    margin-top: 5%;
}

.image{
    margin-left: 5%;
    margin-top: 1em;
}

p{
    font-family: cursive;
    font-size:larger;
}
